#body{
    background-color: black;
}
#form{
    {
      width:20rem;
      height:20rem;
      background-color:white;
      text-align:center;
    }
      #form button{
        background-color:rgba(225,,32,64,0.973);
        color:white;
        border:none;
        cursor:pointer;
        width:50%;
      }